html {
  font-family: Cascadia Code;
  margin: 0;
  font-size: calc(0.35vw + 6px);
  overflow-y: scroll;
}

*::after {
  font-family: Cascadia Code;
}


*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

button {
  font-family: inherit;
  padding: 3px 10px;
  font-weight: 400;
}

button:hover {
  cursor: pointer;
}

input[type="radio"]:hover {
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}

input[type="radio"]:focus {
  outline: none;
}

*::-webkit-scrollbar-track {
  background-color: #17212B;
  border-radius: 100px 100px 0 0;
}

*::-webkit-scrollbar-thumb {
  background-color: #2d3033;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body::-webkit-scrollbar-track {
  background-color: #0E1621;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-image: #2d3033;
  border-radius: 100px;
}

*::-webkit-resizer {
  background: #17212B;
}

#root {
  position: relative;
}

body {
  margin: 0;
  margin-top: 10px;
  background-color: #0E1621;
  /* background-color: #ffe9fb; */
}

a {
  text-decoration: inherit;
  color: inherit;
}

header {
  position: fixed;
  height: 31px;
  width: 100%;
  display: flex;
  user-select: none;
  text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
  z-index: 11;
  top: 0;
  left: 0;
}

header .menu {
  display: flex;
  width: 100%;
  height: 31px;
  z-index: 11;
  top: 0;
  background-color: #0E1621;
  box-shadow: -1px 0px 2px white;
  -webkit-app-region: drag;
}

header .menu-button.menu-item:hover {
  cursor: pointer;
  background-color: #273441;
  color: #a1b1dd;
}

.menu-item.left {
  margin-left: auto;
}

.menu-item.left:nth-last-child(1) {
  margin-right: 140px;
}

header .menu-item {
  display: flex;
  border-left: solid 1px black;
  border-right: solid 1px black;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  color: white;
  transition: color ease-out 500ms, background-color ease-out 200ms;
  -webkit-app-region: no-drag;
}

.menu-item>.text {
  margin: auto;
}

.menu-item.logo {
  border: 0;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 10px;
  margin-top: -5px;
  color: #ffe9fb;
  -webkit-app-region: drag;
}

.menu-item.logo>h1 {
  font-size: 19.2px;
}

.menu-item.logo>h3 {
  font-size: 11.2px;
}


.start-menu {
  list-style-type: none;
  font-size: large;
}

.start-menu .link {
  display: block;
  width: fit-content;
  transition: color ease-out 100ms;
}

.start-menu .link:hover {
  color: rgba(0, 0, 0, 0.4);
}

.main {
  display: flex;
  height: 90vh;
  padding-top: 5vh;
  border-collapse: collapse;
}

.request-menu {
  z-index: 5;
  margin: 0 0 0 auto;
  position: relative;
  width: 50rem;
  color: white;
  border: solid 1px black;
  background-color: #111924;
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: -5px -8px 10px rgba(0, 0, 0, 0.281);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2rem 5rem;
}

input[type="text"] {
  all: unset;
  color: black;
  background-color: white;
  box-sizing: border-box;
  padding: 0.1em 0.3em;
  width: 100%;
}

img {
  pointer-events: none;
}

.param-item {
  display: flex;
  margin: 1rem auto;
  width: 35rem;
}

.param-item>div {
  text-align: center;
  flex-grow: 1;
}

.request-body {
  margin: 0 auto;
}

.request-headers {
  margin: 0 auto;
}

.submit-field {
  width: fit-content;
  margin-top: 3rem;
  margin-left: auto;
}

.field-name {
  text-align: center;
}

.request-table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
}

.request-table td {
  margin: 0;
  border: solid 1px rgb(133, 133, 133);
}

th {
  text-align: left;
  padding-left: 0.3rem;
  color: rgb(133, 133, 133);
  border: solid 1px rgb(133, 133, 133);
  /* font-weight: 500; */
}

.request-table input {
  color: white;
  background-color: rgba(23, 33, 43, 0.603);
}

.request-table>tbody>tr>td:nth-child(1) {
  width: 1rem;
}

.keys-row {
  position: relative;
}

.keys-row:hover .remove-button {
  opacity: 1;
}

.remove-button {
  opacity: 0;
  position: absolute;
  font-size: 0.8rem;
  top: 0.15rem;
  right: 0.2rem;
  padding: 0.1rem;
  border-radius: 0.2rem;
}

.remove-button:hover {
  cursor: pointer;
  background-color: #2d3033;
}

.json-body {
  min-width: 100%;
  max-width: 100%;
  min-height: 10rem;
  font-size: 1rem;
}

textarea {
  color: white;
  background-color: #17212B;
  text-wrap: nowrap;
}

.response-menu {
  z-index: 1;
  margin: auto;
  position: relative;
  width: 50rem;
  margin: 0 auto 0 -1px;
  color: white;
  border: solid 1px black;
  background-color: #111924;
  border-radius: 0 0.5rem 0.5rem 0;
  box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.281);
  min-height: 70vh;
  padding: 2rem 5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.request-menu__title {
  margin-top: -5px;
  text-align: center;
}

.button {
  background-color: #17212B;
  color: white;
  border-radius: 0.3rem;
}

.save-buttons {
  position: absolute;
}

.button {
  font-size: 0.8rem;
}

.request-menu .save-button {
  opacity: 0;
}

.request-menu .save-button:nth-child(1) {
  top: 1rem;
  left: 2rem;
}

.request-menu .save-button:nth-child(2) {
  top: 1rem;
  left: 3rem;
}

.request-menu:hover .save-button {
  opacity: 1;
}

.param-item input {
  background-color: rgba(23, 33, 43, 0.603);
  color: white;
  border: solid 1px rgb(133, 133, 133);
  border-color: rgb(133, 133, 133);
  /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
}

.side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 0;
  top: 31px;
  left: -230px;
  background-color: #17212bc5;
  height: 97vh;
  width: 250px;
  transition: ease-in-out 200ms;
  transition-delay: 50ms;
  border-right: solid 0.1px black;
  z-index: 9;
  overflow-y: auto;
}

.side-menu:hover {
  left: 0px;
}

.side-menu__button {
  color: #EDEDED;
  position: relative;
  border-bottom: solid 0.5px black;
  font-size: 13px;
  font-weight: 300;
  width: auto;
  /* padding-right: 20px; */
  transition: color ease-out 300ms, background-color ease-out 200ms;
}

.side-menu__button:hover {
  cursor: pointer;
}

.side-menu__text {
  user-select: none;
  padding: 10px;
  padding-right: 20px;
}

.side-menu__button:hover {
  background-color: #273441ce;
  color: #a1b1dd;
}

.side-menu__button:hover .side-menu__remove-button {
  opacity: 1;
}

.side-menu__remove-button {
  opacity: 0;
  position: absolute;
  font-size: 14px;
  top: 2px;
  right: 0px;
  padding: 0.1rem;
  border-radius: 0.2rem;
  transition: background-color ease-out 100ms;
  transition: opacity ease-out 200ms;
}

.side-menu__remove-button:hover {
  cursor: pointer;
  background-color: #2d3033;
}

.side-menu__context {
  overflow-y: hidden;
  max-height: 300px;
  transition: max-height ease-out 200ms;
}

.side-menu__context.hidden {
  max-height: 0;
}

.side-menu__button.group {
  /* color: rgba(255, 123, 0, 0.829); */
  font-weight: 600;
}

.side-menu__button.request {
  padding-left: 10px;
}

.side-menu__button.request .side-menu__text {
  padding: 5px;
}

*:focus,
input:focus {
  outline: solid 1px rgb(85, 85, 85);
}

.snippet-select {
  text-align: center;
}

.snippet-select>select:focus {
  background-color: rgb(23, 33, 43);
}

.snippet-select>select {
  font-family: inherit;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(23, 33, 43);
}

.snippet-select__label {
  font-size: 1.5rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(23, 33, 43, 0.308);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  /* border: 0.15em solid currentColor; */
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"]:disabled {
  --form-control-color: black;

  color: black;
  cursor: not-allowed;
}

.main-popup {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.main-popup.active {
  display: flex;
}

.main-popup .dialogue {
  background-color: #0E1621;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: auto;
}

.export-area {
  text-wrap: wrap;
}

@media (min-width: 1450px) {
  html {
    font-size: calc(0.35vw + 7px);
  }
}

@media (min-width: 1650px) {
  html {
    font-size: calc(0.35vw + 8px);
  }
}

.chains-menu {
  z-index: 5;
  position: relative;
  width: 110.1rem;
  min-height: 300vh;
  color: white;
  margin: auto;
  border: solid 1px black;
  background-color: #111924;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: -5px -8px 10px rgba(0, 0, 0, 0.281);
  overflow-y: visible;
  overflow-x: hidden;
  padding: 0rem 5rem;
}

.chains-menu__title {
  text-align: right;
}

.requests-chain {
  position: absolute;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  -webkit-user-drag: element;
  min-width: 54rem;
  min-height: 20rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #0c131c;
  padding-bottom: 3rem;
  /* #0c131c */
}

.requests-chain__header {
  user-select: none;
  text-align: center;
}

.chain-item__name {
  user-select: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.chain-item {
  position: relative;
  padding: 0 1rem;
  border: 1px dotted black;
  background-color: #273441;
  margin-bottom: 1rem;
}

.chain-item__snips-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 1rem;
}

.chain-snip {
  border: solid 1px black;
  margin: 0 0 -1px -1px;

  padding: 1rem;
}

.chain-snip:nth-child(3) {
  margin-right: -1px;
}

.chain-snip:nth-child(6) {
  margin-right: -1px;
}

.chain-snip__name {
  text-align: center;
  margin-bottom: 1rem;
}

.snip-type__title {
  margin-right: 2rem;
}

.chain-item__name {
  text-align: center;
}

.parse-dependence {
  margin-top: 1rem;
}

.parse-dependence__title {
  margin-right: 2rem;
}

.parse-key {
  margin-top: 1rem;
}

.parse-key__title {
  margin-right: 2.6rem;
}

.chain-item__property {
  display: flex;
  position: relative;
  flex-direction: column;
  border: solid 1px black;
  margin: -1px;
  margin-bottom: calc(1rem - 1px);
}

.chain-item__properties-container {
  display: flex;
  flex-direction: column;
}

.properties-container__add-button {
  margin: 0 0 1rem 0;
}

.property-item {
  border: solid 1px black;
  margin: -1px;
  padding: 1rem 1rem;
}

.property-item input {
  background-color: rgba(23, 33, 43, 0.603);
  color: white;
  border: solid 1px rgb(133, 133, 133);
  border-color: rgb(133, 133, 133);
  /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
}

.property-item__select {
  margin-left: 2.5rem;
}

.chain-item__property:hover>.property__remove-button {
  opacity: 1;
}

.property__remove-button {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  font-size: 14px;
  top: 0.5rem;
  right: 1rem;
  padding: 0.1rem;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 0px white;
  transition: all ease-out 100ms;
}

.property__remove-button:hover {
  box-shadow: 0px 0px 5px white;
  background-color: #2d3033;
}

.chain-item__remove-button {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  font-size: 14px;
  top: 0.5rem;
  right: 1rem;
  padding: 0.1rem;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 0px white;
  transition: all ease-out 100ms;
}

.chain-item:hover .chain-item__remove-button {
  opacity: 1;
}

.chain-item__remove-button:hover {
  box-shadow: 0px 0px 5px white;
  background-color: #2d3033;
}

.requests-chain__remove-button {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  font-size: 14px;
  top: 0.5rem;
  right: 1rem;
  padding: 0.1rem;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 0px white;
  transition: all ease-out 100ms;
}

.requests-chain:hover .requests-chain__remove-button {
  opacity: 1;
}

.requests-chain__remove-button:hover {
  box-shadow: 0px 0px 5px white;
  background-color: #2d3033;
}


.snippet-select {
  text-align: center;
}

.chain-snip select:focus {
  background-color: rgb(23, 33, 43);
}

.chain-snip select {
  font-family: inherit;
  text-align: center;
  color: white;
  background-color: rgb(23, 33, 43);
}

.snippet-select__label {
  font-size: 1.5rem;
}

.chain-snip input {
  font-family: inherit;
  background-color: rgb(23, 33, 43);
  color: white;
  border: solid 1px rgb(133, 133, 133);
  border-color: rgb(133, 133, 133);
  width: 7rem;
  /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
}

.properties-container__add-button {
  border-radius: 0;
}

.chain-item__property select {
  width: 7rem;
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: rgb(23, 33, 43);
}

.chain-item__property .property__type-input {
  width: 70%;
  margin: 1rem auto;
}

.chains-menu__name {
  background-color: rgba(23, 33, 43, 0) !important;
  color: white !important;
  border: 0px !important;
  font-size: 2rem !important;
  text-align: center !important;
}

.chains-menu__param-item {
  display: flex;
  margin: 1rem auto;
  width: 70rem;
  background-color: rgba(23, 33, 43, 0.603);
  color: white;
  border: solid 1px rgb(133, 133, 133);
  border-color: rgb(133, 133, 133);
  /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
}

.chains-menu__param-item>select {
  font-size: 1.2rem;
}

.requests-chain__header>.requests-chain__name {
  background-color: rgba(23, 33, 43, 0) !important;
  color: white !important;
  border: 0px !important;
  font-size: 1.5rem !important;
  text-align: center !important;
}

.request-headers {
  position: relative;
}


.request-headers:hover .textarea-copy-button {
  opacity: 1;
}

.textarea-copy-button {
  position: absolute;
  opacity: 0;
  bottom: 0.5rem;
  right: 0rem;
  transition: opacity ease-out 100ms;
}

.pushed-json-body {
  color: white;
  background-color: #17212B;
  border: solid 1px rgb(133, 133, 133);
  text-wrap: nowrap;
}

.pushed-json-body__container{
  display: flex;
  padding: 1rem;
  gap: 3rem;
}

.pushed-json-body__container{
  position: relative;
  border: solid 1px rgb(133, 133, 133);
}

.pushed-json-body__button{
  position: absolute;
  right: 1rem;
  top: 0.75rem;
  transition: opacity ease-out 100ms;
  opacity: 0;
}

.pushed-json-body__container:hover .pushed-json-body__button{
  opacity: 1;
}

.chains-menu>.save-button{
  opacity: 0;
  margin-top: 1rem;
}

.chains-menu:hover>.save-button{
  opacity: 1;
}

/* <div className="pushed-json-body json-body">
{snippetsStore.pushedResponses.map((response, index) => 
  <div key={index} className="pushed-json-body__container">
    <div className="pushed-json-body__item">Request Name: {response.name}</div>
    <div className="pushed-json-body__item">Status: {response.status}</div>
    <div className="pushed-json-body__item">Status text: {response.statusText}</div> */